# General Requirements
async_class #==0.5.0
httpx>=0.24.1
playwright==1.37.0
playwright_stealth==1.0.6 #==1.0.5
pybrowsers==0.5.2

# Math and Others
numpy==1.26.0
scipy==1.11.2
# Image Processing
Pillow==10.0.1


# Artificial Intelligence
hcaptcha_challenger>=0.7.10.post2
yolov5==7.0.12
sentence_transformers #==2.2.2
easyocr==1.7.1
Faker==19.6.1
scikit-image==0.21.0
opencv-python~=4.8.0.76
pytest==7.4.2
imageio==2.31.3
setuptools==68.2.2