# General Requirements
async_class #==0.5.0
httpx #==0.23.0
playwright #==1.25.2
playwright_stealth #==1.0.5

# Math and Others
numpy #==1.23.5
scipy #==1.9.3
# Image Processing
Pillow #==9.3.0
scikit_image #==0.19.3
# Audio Processing
pydub #==0.25.1


# Artificial Intelligence
hcaptcha_challenger
yolov5 #==6.2.2
opencv_python #==4.5.5.64
tensorflow #==1.12.0
sentence_transformers #==2.2.2
easyocr #==1.6.2
SpeechRecognition #==3.8.1