# This requirements are for development and testing only, not for production.
flake8==7.0.0
pytest==8.1.1
pytest_asyncio==0.23.6
mypy==1.9.0
types-setuptools==69.5.0.20240415
twisted==24.3.0
playwright==1.42.0
black==24.4.0
isort==5.13.2